.idea
/dist/*
/arm_apps/*
/rtk_new_apps/*
/x86_apps/*
/x64_new_apps/*
!/x64_new_apps/README.md
!.gitkeep
!.gitignore
!/x86_apps/config.ini
!/arm_apps/config.ini
!/x64_new_apps/config.ini
!/rtk_new_apps/config.ini
