[Unit]
Description=your application description
Documentation=https://github.com/TerraMasterOfficial/app-pkg-tools/blob/main/Manual.md
After=TOSDaemon.service

[Service]
Type=forking
User=0
Group=0
# ExecStart=/usr/bin/TOS6_APP_HelloWorld
ExecStart=/usr/local/TOS6_APP_HelloWorld/sbin/TOS6_APP_HelloWorld -D
Restart=on-failure

[Install]
WantedBy=tnas-system.target
